@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-brand-light: #baffb0;
  --color-brand: #70F55E;
  --color-brand-dark: #3fb532;
}

body {
  @apply bg-white text-zinc-950 antialiased;
}
